$Black100: #0e0e0e;
$Black95: #282828;
$Black90: #484848;
$Black80: #737373;
$Black70: #969696;
$Black60: #b1b1b1;
$Black50: #cdcdcd;
$Black40: #dbdbdb;
$Black30: #e4e4e4;
$Black20: #f0f0f0;
$Black10: #f6f6f6;
$Black05: #fbfbfb;
$White: #ffffff;
$YellowBase: #ffa500;
$YellowLight: #ffc700;
$YellowDark: #e18801;
$YellowTransparent: #fff1c0;
$BlueLight: #00a5dc;
$BlueDark: #004eaf;
$BlueTransparent: #d4f0ff;
$GreenLight: #2db928;
$GreenDark: #057855;
$GreenTransparent: #e0f6ce;
$RedLight: #ff2d37;
$RedTransparent: #ffe7e7;
